<header class="navbar navbar-expand-md d-print-none navbar-dark" data-bs-theme="dark">
  <div class="container-xl">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1
      class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
    >
      <%= link_to root_path do %>
        <%= image_tag "logo-sistema.svg", height: 39, width: 91, alt: "Imóvel Simples", class: "navbar-brand-image" %>
      <% end %>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item dropdown">
        <a
          href="#"
          class="nav-link d-flex lh-1 text-reset p-0"
          data-bs-toggle="dropdown"
          aria-label="Open user menu"
        >
          <span
            class="avatar avatar-sm"
            style="background-image: url(./static/avatars/000m.jpg)"
          ></span>
          <div class="d-none d-xl-block ps-2">
            <div><%= current_user.email %></div>
            <!--div class="mt-1 small text-secondary"><%= current_user.email %></div-->
            <%= link_to "Sair", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="#" class="dropdown-item">Perfil</a>
          <div class="dropdown-divider"></div>
          <%= link_to "Sair", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
        </div>
      </div>
    </div>
  </div>
</header>
