<!DOCTYPE html>
<html>
  <head>
    <title>Gerencia Imóveis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class=" d-flex flex-column">
    <div class="page page-center">
      <div class="container container-tight py-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
